body {
  margin: 0;
  font-family: 'pacifico';
  position: relative;
  padding-bottom: 20px;
}
@font-face {
  font-family: 'pacifico';
  src: url(./fonts/pacifico.ttf);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./imagenes/background_image.jpeg');
  background-repeat:repeat;
  opacity: 0.2;
  z-index: -1;
  margin: 0;
  background-size: cover;
}
h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
h3 {
  margin: 0;
  text-align: center;
}

.logo {
  display: flex;
  width: 120px;
  height: auto;
}
.gif-osos {
  position: fixed;
  bottom:0;
  right:0;
  width: 100px;
  height: auto;
}
.formulario {
    display: block;
    font-size: large;
    border-style: dashed;
    border-radius: 30px;
    border-width: 5px;
    border-color: black;
    align-items: center;
    margin: 30px auto 15px auto;
    width: 60%;
}
.formulario2 {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    font-size: large;
    margin-top: 0px;
    margin-left: 15px;
}
 .centrado {
  display: block;
  margin-left: 30px;
 }
p {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    text-align: center;
}
 .casillero {
   width: 100%;
   border-radius: 10px;
   border-color: black;
   background-color: rgb(250, 242, 232);
   font-family: 'pacifico';
 }
.panda-gif {
  display:flex;
  opacity: 0.8;
}

.aver {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.pandamoto {
  border: none;
  background-color:transparent;
  cursor: pointer;
}
.caracteristicas {
  padding-left: 25px;
}
@media (max-width: 500px)
{
.formulario2 {
    width: 60%;
    height: auto;
}
.aver {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.centrado {
  display: block;
  margin-left: 0px;
 }
 .formulario {
    width: 100%;
}

)