body {
  margin: 0;
  padding-bottom: 0px;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "raleway";
  src: url(./fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: "raleway-thin";
  src: url(./fonts/raleway/Raleway-Thin.ttf);
}
@font-face {
  font-family: "raleway-regular";
  src: url(./fonts/raleway/Raleway-Regular.ttf);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.bg-image {
  width: 100%;
  height: 100%;
  background-image: url("./imagenes/bg-image2.jpeg");
  background-repeat: repeat;
  opacity: 0.2;
  z-index: -1;
  margin: 0;
  background-size: cover;
}

.stick-top {
  position: fixed;
  top: 0;
}

.header-container {
  display: flex;
  width: 100%;
  height: 60px;
  background: linear-gradient(#aacff7, #e3eefc);
  margin: 0;
  justify-content: space-between;
  border-bottom-color: #214da4;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  z-index: 1000;
}

.logo {
  display: inline-flex;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  align-self: center;
  margin-left: 5px;
}

.content {
  position: relative;
  top: 104px;
  padding: 40px 100px 0px 100px;
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
  width: 40%;
  align-self: center;
  margin-right: 20px;
  font-size: xx-large;
  font-weight: 900;
  color: #214da4;
  font-family: "raleway";
}
.navbar nav {
  width: 100%;
  justify-content: space-around;
}
.navbar nav ul li {
  margin-right: 16px;
}
.navbar nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

a {
  color: #214da4;
  text-decoration: none;
}
.menu-button {
  display: flex;
  margin: 30px;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
  padding: 7px;
  border-radius: 7px;
  background-color: #214da4;
  cursor: pointer;
}
.menu-button span {
  width: 26px;
  height: 3px;
  background-color: #aacff7;
}
.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  position: absolute;
  top: 100px;
  right: 10px;
  text-align: center;
  background-color: #214da4;
  border-radius: 7px;
  padding: 20px;
  width: 150px;
}
.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  color: #aacff7;
  font-family: "raleway";
  font-size: large;
}

.menu-toggle:checked + .toggle {
  display: block;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
h2 {
  font-size: 2em;
  margin: 0;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: auto;
  font-family: "raleway";
  color: #214da4;
}
.slogan p {
  margin-right: 100px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button1 {
  width: 150px;
  height: 30px;
  background-color: #214da4;
  color: #e3eefc;
  border-radius: 10px;
  border-color: #aacff7;
  border-style: solid;
  cursor: pointer;
  margin-right: 10px;
}
.button2 {
  width: 150px;
  height: 30px;
  background-color: #e3eefc;
  color: #214da4;
  border-radius: 10px;
  border-color: #aacff7;
  border-style: solid;
  cursor: pointer;
}

.button1:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.button2:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.coder-girl {
  display: flex;
  width: 350px;
  height: auto;
}
.coder-girl img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-width: 2px;
  border-color: #214da4;
  border-style: solid;
}

.description,
.benefits,
.work-steps {
  margin-top: 40px;
  font-family: "raleway";
  color: #214da4;
}

.clients {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-family: "raleway";
  color: #214da4;
}

.paragraph {
  font-size: 1.2em;
  text-align: center;
}
h4 {
  font-family: "raleway";
  color: #214da4;
}
h3 {
  margin-bottom: 40px;
}

.hobbies,
.advantages,
.work {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "raleway-regular";
  text-align: center;
}

.steps {
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.hobbies i {
  font-size: 2rem;
  transition: all 1s ease-in-out;
}

.plane:hover i {
  transform: translate(250%, -55%);
}

.micro:hover i {
  transform: scale3d(1.5, 1.5, 1.5);
}

.camera:hover i {
  transform: rotate3d(1.5, 3, 1, 360deg);
}
.advantages i {
  font-size: 2rem;
  transition: all 1s ease-in-out;
}

.full_stack:hover i {
  transform: scale3d(1.1, 1.1, 1.1);
}
.speed:hover i {
  transform: translate(250%, 0%);
}
.flexibility:hover i {
  transform: rotateY(360deg);
}

.paragraph {
  font-size: 1.2em;
  text-align: center;
}

.benefits i {
  font-size: 2rem;
}

.work i {
  font-size: 2rem;
  transition: all 1s ease-in-out;
  margin-top: 5px;
}

.advantages p {
  padding: 3px;
  margin: 3px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full_stack,
.speed,
.flexibility {
  width: 33.3%;
}
.steps {
  width: calc(25% - 14px);
  min-width: 25%;
}

.steps:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.work > div {
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #214da4;
  background-color: #aacff789;
  border-radius: 20px;
}
.work p {
  padding: 3px;
  margin: 3px;
}
.enterprices {
   position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-wrap: nowrap;
  width: 60%;
}

.logos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 25%;
  /* background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #214da4; */
  align-self: center;
}
.logos img {
  width: 80%;
  height: auto;
}

.logo1:hover,
.logo2:hover,
.logo3:hover {
  opacity: 0.3;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.hover_button {
  display: none;
  position: absolute;
  bottom: 0%;
}

.logos:hover .hover_button {
  display: block;
}

.button_carinositos,
.button_fflab,
.button_travelflow {
  width: 150px;
  height: 40px;
  background-color: #e3eefc;
  color: #214da4;
  border-radius: 10px;
  border-color: #214da4;
  border-style: solid;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.contact_container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.address, 
.mail,
.tel {
  display: flex;
  flex-direction: row;
  align-items: center;
} 
.nets {
    display: flex;
    flex-direction: column;
}
.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address p{
  padding-left: 10px;
}
.mail p{
  padding-left: 10px;
}
.tel p{
  padding-left: 10px;
}
.nets p{
  padding-left: 10px;
}
.nets a {
  font-size: 2.5rem;
}
.social_media {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.social_media i {
  padding-right: 20px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-width: 2px;
  border-color: #214da4;
  border-style: solid;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: linear-gradient( #e3eefc, #aacff7);
  margin: 0;
  border-top-color: #214da4;
  border-top-width: 4px;
  border-top-style: solid;
  z-index: 1000;
  margin-top: 144px;
}
.footer_logo {
  display: flex;
  align-items: center;
  width: auto;
height: 100%;
}
.footer_logo img {
width: auto;
height: 80%;
}

@media (min-width: 640px) {
  .hamburguer {
    display: none;
  }
  .navbar nav ul li {
    margin-right: 10px;
  }
  .navbar {
    font-size: medium;
    width: 50%;
    margin-right: 5px;
  }
}
@media (max-width: 639px) {
  .navbar {
    display: none;
  }
  .bg-image {
    background-size: 200vh;
  }
  .content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .description {
    margin-top: 40px;
  }
  .hobbies {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .coder-girl {
    display: none;
  }
  .slogan {
    width: 100%;
  }
}
