body {
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'raleway';
  src: url(./fonts/raleway/Raleway-Bold.ttf);
}

.bg-image {
  width: 100%;
  height: 100%;
  background-image: url('./imagenes/bg-image2.jpeg');
  background-repeat:repeat;
  opacity: 0.2;
  z-index: -1;
  margin: 0;
  background-size: cover;
}

.stick-top {
  position: fixed;
  top: 0;
}

.header-container {
  display: flex;
  width: 100%;
  height: 100px;
  background: linear-gradient(#aacff7, #e3eefc);
  margin: 0;
  justify-content: space-between;
  border-bottom-color: #214da4;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.logo {
  display: inline-flex;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  align-self: center;
  margin-left: 5px;
}

.content {
  top: 100px;
}

.parrafo {

}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
  width: 40%;
  align-self: center;
  margin-right: 20px;
  font-size: xx-large;
  font-weight: 900;
  color: #214da4;
  font-family: 'raleway'
}
.navbar nav {
  width: 100%;
  justify-content: space-around;
}
.navbar nav ul li{
  margin-right: 16px;
}
.navbar nav ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;  
  padding: 0;
}

a {
  color: #214da4;
  text-decoration: none;
}
.menu-button {
  display: flex;
  margin: 30px;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
  padding: 7px;
  border-radius: 7px;
  background-color: #214da4;
  cursor: pointer;
}
.menu-button span {
  width: 26px;
  height: 3px;
  background-color: #aacff7;
}
.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  position: absolute;
  top:100px;
  right: 10px;
  text-align: center;
  background-color: #214da4;
  border-radius: 7px;
  padding: 20px;
  width: 150px;
}
.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  color: #aacff7;
  font-family: 'raleway';
  font-size: large;
}

.menu-toggle:checked + .toggle {
  display:block;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 640px)
{
  .hamburguer { 
    display: none;
  }
  .navbar nav ul li{
  margin-right: 10px;
  }
  .navbar {
  font-size: medium;
  width: 50%;
  margin-right: 5px;
}
}
@media (max-width: 639px)
{
  .navbar {
    display:none;
  }
  .bg-image {
    background-size: 200vh;
  }
}