body{position: relative;
  margin: 0;
}

@font-face {
  font-family: "raleway-thin";
  src: url(./fonts/raleway/Raleway-Thin.ttf);
}
@font-face {
  font-family: "noto";
  src: url(./fonts/Noto_Sans_Display/noto.ttf);
}
@font-face {
  font-family: "raleway";
  src: url(./fonts/raleway/raleway.ttf);
}

.bg-image {
  position: absolute;
  background-image: url("./imagenes/portada-children.jpg");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  z-index: -1;
  opacity: 0.7;
}

#destinations-slider{
  font-family: "raleway";
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#destinations-slider > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#destinations-slider > ul.slider{
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 500px;
}

#destinations-slider > ul.slider h2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 500px;
  top: 400px;
  /* transform: translate(125%,650%); */
}

#destinations-slider > ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

#destinations-slider > ul.slider li img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#destinations-slider > ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#destinations-slider > ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#destinations-slider > .menu{
  text-align: center;
  margin: 20px;
}

#destinations-slider > .menu li{
  display: inline-block;
  text-align: center;
}

#destinations-slider > .menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color:grey;
  opacity: 0.6;
  padding: 10px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  border-radius: 100%;
}

#destinations-slider > .menu li a:hover {
  background-color:lightgrey;
}

.go-back {
  display: flex;
  justify-content: center;
}

.go-back a {
   margin-top: 5px;
  text-decoration: none;
  font-family: "noto";
  font-size: 1.5em;
  color:#3E4145;
  font-weight: bold;
}

.go-back:hover a {
  text-decoration: none;
  transform: scale(1.1);
  font-family: "noto";
}
