body {
  position: relative;
  margin: 0;
}
@font-face {
  font-family: "indie_flowers";
  src: url(./fonts/indie_flowers/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: "Frederika";
  src: url(./fonts/frederika_the_great/FrederickatheGreat-Regular.ttf);
}
.bg-image {
  position: absolute;
  background-image: url("./imagenes/bg-image.webp");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  opacity: 0.1;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin: 0px;
  justify-content: space-between;
  background-color: lightgrey;
  font-family: "indie_flowers";
  font-size: 1.3em;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: black;
}

img {
  width: 200px;
  height: auto;
}

.logo {
  width: 35%;
  align-self: center;
  margin-left: 15px;
  margin-top: 10px;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 3em;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  font-family: "Frederika";
  font-size: 2.3em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.content {
  position: relative;
}

.section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

#hero, 
#about-me {
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.slogan {
  display: flex;
  flex-direction: row;
  margin-right: 200px;
  margin-left: 200px;
}

.text-container {
  margin-top: 55px;
  margin-bottom: 90px;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  font-family: "indie_flowers";
  font-style: bold;
  font-size: 1.7em;
  width: 50%;
  height: auto;
  margin-right: -60px;
  transform: rotate(-15deg);
}

.slogan h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.hero-img {
  background-image: url(./imagenes/travel-planner.jpg);
  margin-right: 0;
  height: 400px;
  flex: 1 1 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}

#about-me {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.history-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-me-history {
  position: relative;
  margin-left: 50px;
  margin-right: 0;
  flex: 0 1 50%;
}

.history-title {
  height: auto;
  font-family: "Frederika";
  flex: 0 1 25%;
  text-align: end;
}

.about-me-img {
  position: absolute;
  background-image: url(./imagenes/bagagge.jpg);
  background-position-x: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-me-text {
  font-size: 0.4em;
    font-family: "indie_flowers";
    text-align: center;
    font-weight: 900;
}

.about-me-text p {
  padding: 5px;
  padding-top: 0;
}

#destinations {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.destinations-container {
  display: flex;
  flex-direction: row;
}

.destinations-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 30px;
  padding-top: 10px;
  font-family: "Frederika";
}

.destinations-title img {
  width: 100%;
  height: auto;
  border-bottom: 10px;
  border-radius: 10px;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  float: left;
  position: sticky;
  top: 15px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 60px;
  padding-top: 10px;
  font-family: 'indie_flowers';
}
.cards-title {
  margin-top: 0px;
  font-size: 1.5em;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 200px;
  height: 300px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.9px 2.9px 3.7px;
  border-radius: 20px;
}
.cards-content {
  display: flex;
  justify-content: flex-end;
}
.cards-img {
  position: absolute;
  display: flex;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.small-text {
  font-size: 1.2em;
  margin-top: 200px;
}
.cards:nth-child(2) .cards-title,
.cards:nth-child(4) .cards-title,
.cards:nth-child(5) .cards-title,
.cards:nth-child(6) .cards-title {
  margin-top: 10px;
}


.cards:first-child .cards-img {
  background-image: url(./imagenes/beach.jpg);
}
.cards:nth-child(2) .cards-img {
  background-image: url(./imagenes/eiffel.jpg);
  background-position-x: 30%;
}
.cards:nth-child(3) .cards-img {
  background-image: url(./imagenes/colisseum.jpg);
}
.cards:nth-child(4) .cards-img {
  background-image: url(./imagenes/london.jpg);
}
.cards:nth-child(5) .cards-img {
  background-image: url(./imagenes/barcelona.jpg);
}
.cards:nth-child(6) .cards-img {
  background-image: url(./imagenes/newyork.jpg);
}
.cards:nth-child(7) .cards-img {
  background-image: url(./imagenes/eiffel.jpg);
  background-position-x: 30%;
}
.cards:nth-child(8) .cards-img {
  background-image: url(./imagenes/colisseum.jpg);
}
.cards:nth-child(9) .cards-img {
  background-image: url(./imagenes/london.jpg);
}
.cards:nth-child(10) .cards-img {
  background-image: url(./imagenes/barcelona.jpg);
}