body {
  position: relative;
  margin: 0;
}
@font-face {
  font-family: "indie_flowers";
  src: url(./fonts/indie_flowers/IndieFlower-Regular.ttf);
}
@font-face {
  font-family: "Frederika";
  src: url(./fonts/frederika_the_great/FrederickatheGreat-Regular.ttf);
}
.bg-image {
  position: absolute;
  background-image: url("./imagenes/bg-image.webp");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  opacity: 0.1;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin: 0px;
  justify-content: space-between;
  background-color: lightgrey;
  font-family: "indie_flowers";
  font-size: 1.3em;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: black;
}

img {
  width: 200px;
  height: auto;
}

.logo {
  width: 35%;
  align-self: center;
  margin-left: 15px;
  margin-top: 10px;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap:20px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: bold;
}

p {
  font-size: 3em;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  font-family: "Frederika";
  font-size: 2.3em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.content {
  position: relative;
}

.section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

#hero,
#about-me {
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  padding-bottom: 0;
}

.slogan {
  display: flex;
  flex-direction: row;
  margin-right: 200px;
  margin-left: 200px;
}

.text-container {
  margin-top: 55px;
  margin-bottom: 90px;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  font-family: "indie_flowers";
  font-style: bold;
  font-size: 1.7em;
  width: 50%;
  height: auto;
  margin-right: -60px;
  transform: rotate(-15deg);
}

.slogan h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.hero-img {
  background-image: url(./imagenes/travel-planner.jpg);
  margin-right: 0;
  height: 400px;
  flex: 1 1 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}

#about-me {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.history-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-me-history {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  flex: 0 1 50%;
}

.history-title {
  height: auto;
  font-family: "Frederika";
  flex: 0 1 25%;
  text-align: end;
  font-size: 1.4em;
  padding-right: 50px;
}

.about-me-img {
  position: absolute;
  background-image: url(./imagenes/bagagge.jpg);
  background-position-x: center;
  background-position-y: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-me-text {
  font-size: 0.6em;
  font-family: "indie_flowers";
  text-align: center;
  font-weight: 900;
}

.about-me-text p {
  padding: 5px;
  padding-top: 0;
}

#destinations {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.destinations-container {
  display: flex;
  flex-direction: row;
}

.destinations-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 30%;
    padding: 30px;
    padding-top: 10px;
    font-family: "Frederika";
    font-size: 1.4em;
}

.destinations-title img {
  width: 70%;
  height: auto;
  border-bottom: 10px;
  border-radius: 10px;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  float: left;
  position: sticky;
  top: 15px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 60px;
  padding-top: 10px;
  font-family: "indie_flowers";
}

.cards-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cards-title h3 {
  margin: 0;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex: 1 1 200px;
  height: 310px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.9px 2.9px 3.7px;
  border-radius: 20px;
}
.cards-content {
  display: flex;
  align-items: center;
  height: 65px;
  justify-self: flex-end;
  margin-top: 10px;
}
.cards-img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex: 1 0;
}
.small-text {
  font-size: 1.2em;
  margin: 0;
}

.cards:first-child .cards-img {
  background-image: url(./imagenes/beach.jpg);
}
.cards:nth-child(2) .cards-img {
  background-image: url(./imagenes/eiffel.jpg);
}
.cards:nth-child(3) .cards-img {
  background-image: url(./imagenes/colisseum.jpg);
  background-position-y: 90%;
}
.cards:nth-child(4) .cards-img {
  background-image: url(./imagenes/london.jpg);
}
.cards:nth-child(5) .cards-img {
  background-image: url(./imagenes/barcelona.jpg);
  background-position-y: 100%;
}
.cards:nth-child(6) .cards-img {
  background-image: url(./imagenes/newyork.jpg);
}
.cards:nth-child(7) .cards-img {
  background-image: url(./imagenes/prague.jpg);
}
.cards:nth-child(8) .cards-img {
  background-image: url(./imagenes/colisseum.jpg);
  background-position-y: 50%;
}
.cards:nth-child(9) .cards-img {
  background-image: url(./imagenes/london.jpg);
}
.cards:nth-child(10) .cards-img {
  background-image: url(./imagenes/barcelona.jpg);
  background-position-y: 50%;
}

/* ----------------------- */

.menu-button {
  display: flex;
  margin: 30px;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
  padding: 7px;
  border-radius: 7px;
  background-color: black;
  cursor: pointer;
}
.menu-button span {
  width: 26px;
  height: 3px;
  background-color: lightgrey;
}
.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  position: absolute;
  top: 100px;
  right: 10px;
  text-align: center;
  background-color:black;
  border-radius: 7px;
  padding: 20px;
  width: 150px;
}
.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  font-family: "indie_flowers";
  color: lightgrey;
  font-size: 1em;
}
.toggle a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1em;
}

.menu-toggle:checked + .toggle {
  display: block;
  z-index: 1000;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

  .hamburger a:visited {
  color: lightgrey;
}

@media (min-width: 640px) {
  .hamburger {
    display: none;
  }

  .navbar nav ul li {
    margin-right: 10px;
  }
  .navbar {
    font-size: 1em;
    width: 50%;
    margin-right: 5px;
  }
}
@media (max-width: 639px) {
  .navbar {
    display: none;
  }
  .hero-img {
    height: 220px;
  }
  .slogan {
    margin-right: 0;
    margin-left: 10px;
  }
  .text-container {
    margin-top: 30px;
    font-size: 0.9em;
  }
  .history-container, 
  .destinations-container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin:0;
  }
  #about-me,
  #hero {
    padding: 10px;
  }
  .destinations-title {
    width: 90%;
    padding: 0;
  }
  .destinations-title img {
    display: none;
  }
}